.single-page
    background white
    float left
    border-radius primaryBorderRadius
    box-shadow primaryBoxShadow
    height 100%
    padding 75px 70px
    width 100%
    margin-bottom 80px

.single-page__header
    font-family headingFont
    color primaryHeading
    margin-bottom 50px

.single-page__content
    color textColor
    rem(16px)
