<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K3RNN3"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K3RNN3');</script>
<!-- End Google Tag Manager -->

<header class="hero">
  <div class="row">
    <div class="skew_div">
      <div class="invert_skew">
        <a href="index.php">
          <img src="assets/images/main-avatar.jpg" alt="Gabriel Godoy">
        </a>

        <div class="text">
          <a href="index.php">
            <h1>Gabriel Godoy</h1>

            <p>~/Front end developer</p>
          </a>
          <a href="https://www.linkedin.com/in/gabrielgodoy1" target="_blank" class="social-header-icon"><i class="fa fa-linkedin-square"></i></a>
        </div>
      </div>
    </div>
  </div>

</header>