.header--main
    display flex
    align-items center
    justify-content center
    padding-top 50px
    padding-bottom 75px
    width 100%

.header__title
    color hightlightColor
    font-family headingFont
    rem(24px)

.header__job
    font-family bodyFont
    rem(14px)

.header__nav
    margin-left auto
    text-transform lowercase

.header__link
    color hightlightColor
    rem(18px)
    font-family headingFont
    margin-right 35px
    &:last-child
        margin-right 0
