.header--main
    display flex
    align-items center
    justify-content center
    padding-top 50px
    padding-bottom 75px
    width 100%

.header__title
    color hightlight-color
    font-family heading-font
    rem(24px)

.header__nav
    margin-left auto
    text-transform lowercase

.header__link
    color hightlight-color
    rem(18px)
    font-family heading-font
    margin-right 35px
    &:last-child
        margin-right 0
