.post-list__card
    border-radius primary-border-radius
    box-shadow primary-box-shadow
    background white
    height 185px

.post__link
    display flex
    align-items center
    height 100%
    padding 0 55px

.post__title
    color: primary-heading
    font-family heading-font
    rem(24px)

.post__desc
    rem(16px)
    font-family body-font
    color text-color
