.post-cover
    margin-top: -75px
    width: calc(100% + 200px)
    margin-left: -100px
    position: relative
    max-height: 310px
    overflow: hidden
    border-top-left-radius: 4px
    border-top-right-radius: 4px

    @media screen and (max-width: 767px)
        width: calc(100% + 40px)
        margin-left: -20px
        margin-top: -25px
        border-radius 0

    .post-cover__author
        position: absolute
        bottom: 20px
        right: 20px
        z-index: 1
        text-align: right
        color: white
        rem(10px)
        font-family: openFont

    .post-cover__paint
        display: block
        rem(12px)
