.single-post__content
    .node rect,
    .node circle,
    .node ellipse,
    .node polygon
        fill mainColor
        stroke none

    marker path
        fill #bbb !important

    .edgePath .path
        stroke #bbb

.single-post__content
    .mermaid
        div
            text-align: center

        .label
            rem(12px)
            color white
