---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="single-post">

        {% include share.html %}

        <header class="single-post__header">
            <h1 class="single-post__title" itemprop="name headline">{{ page.title }}</h1>
            {% if page.categories contains 'project' %}
            {% else %}
            <p class="single-post__meta">
                <time class="single-post__time" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                {% include minutes-to-read.html pageOrPost=page %}
                <span class="single-post__reading-time" title="Estimated read time">
                    <img class="post__time-icon" src="../assets/images/post__time.svg" alt="Time to read icon">
                    {{ minutesText }}
                </span>
            </p>
            {% endif %}
        </header>

        {% if page.categories contains 'project' %}
        <div class='browser-window'>
            <div class='top-bar'>
                <div class='circles'>
                    <div class="circle circle-red"></div>
                    <div class="circle circle-yellow"></div>
                    <div class="circle circle-green"></div>
                </div>
            </div>
            <div class='content'>
                <img src="{{site.url}}/assets/images/projects/{{page.image_paths[0]}}">
            </div>
        </div>
        {% if page.demo %}
        <a href="/projects/{{page.demo}}" target="_blank" class="single-post__demo">
            View demo
        </a>
        {% endif %}
        <div class="single-post__content single-post__content--project" itemprop="articleBody">
            {{ content }}
        </div>
        {% else %}
        <div class="single-post__content" itemprop="articleBody">
            {{ content }}
        </div>
        {% endif %}

        {% unless page.categories contains 'project' %}
        {% include about-author.html %}
        {% endunless %}

    </div>

    <div class="disqus-container">
        <div id="disqus_thread"></div>
    </div>

    <script>
        'use strict';

        var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.url }}';
        };

        (function() {
            var d = document, s = d.createElement('script');

            s.src = '//gabrielgodoy.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</article>
