.about-author
    margin-bottom -75px
    margin-left -100px
    margin-right -100px
    padding 50px 70px
    text-align center
    background almostWhite
    border-bottom-left-radius primaryBorderRadius
    border-bottom-right-radius primaryBorderRadius
    &.about-author--page
        margin-bottom 0
        background white

    .about-author__img
        border-radius 50%
        display inline-block
        margin-right 45px
        vertical-align middle

.about-author__info
    display inline-block
    vertical-align middle
    text-align left
    max-width 480px
    p
        font-family bodyFont
        color textColor

.about-author__title
    font-family headingFont
    color primaryHeading
    rem(36px)

.about-author__desc
    font-family bodyFont
    color textColor
